@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body {
   font-family : "Lato",sans-serif;
   color:#333;
   line-height:1.6;
}

h1,h2,h3,h4 {
    margin:10px 0;
    font-weight:300;
    line-height: 1.2;
}
a{
    text-decoration: none;
    color:#333;
}
ul{
    list-style-type: none;
}
p {
    margin: 10px 0;
}
img {
    width:100%;
}

/* Navbar */
.navbar {
    height:70px;
    background-color: #000;
    color:#fff;
}
.navbar ul {
    display : flex;
}
.navbar a {
    color:#fff;
    padding:10px;
    margin: 0 5px;
}
.navbar .flex {
    justify-content: space-between;
}
.navbar a:hover{
    border-bottom: 1px solid #fff;
}
/* todolist */
.todoList {
    height:700px;
    background-color: #002240;
    color:#fff;
    position:relative;   
}

.todoList-form {
    position:absolute;
    top:70px;
    /* height:400px; */
    left:450px;
    width:460px;
    padding:40px;
    z-index:100;
    justify-content: center;
    text-align: center;
}

.todoList-form h2 {
    font-size: 26px;
    padding:30px 0;
}

.todoList p {
    padding: 2px 0;
}

.todoList .form-control {
    margin:50px 0;
}

.todoList-form input[type="text"] {
    border : 0;
    border-bottom: 1px solid #b4becb;
    width :100%;
    padding:8px;
    font-size: 16px;
}

.todoList-form input:focus {
    outline : none;
}

.listItem-plan {
      display:flex;
      background-color: darkblue;
      align-items:center;
      justify-content: space-between;
      padding:0.15rem 1rem;
      border-radius: 5px;
      color:#fff;
      margin-bottom: 0.5rem;

 }
 
.listItem-plan .edit-btn{
    margin:10px;
    background-color: #fff;
}
.listItem-plan .delete-btn{
    margin:10px;
}

.alert-message p{
    background-color: darkmagenta;
    color:#fff;
    padding:5px 0;
}

/* Users */

.users{
    background-color: rgb(228, 241, 32);
}
.users .grid {
    grid-template-columns: repeat(3,1fr);
    gap:30px;
}
.users .part-2{
    padding: 50px;
}


/* uttilitie */
.container {
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    padding:0 40px;
}
.flex {
    display : flex;
    justify-content: center;
    align-items: center;
    height:100%;
}

.grid{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
    height:100%;
}
.grid-2{
    display:grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.card {
    background-color:#fff;
    color:#000;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
    padding:10px;
    margin:10px;
    min-height: 500px;
}
.small-card {
    background-color: #fff;
    border-radius: 5px;
    color:#333;
    box-shadow:0 3px 10px rgba(0,0,0,0.2);
    padding:10px;
    margin:10px;
    min-height:200px;
}

.btn {
    display:inline-block;
    padding:10px 30px;
    cursor:pointer;
    background-color: #047aed;
    color:#fff;
    border:none;
    border-radius: 5px;
    margin:30px 0;
}

.btn-dark{
    background-color: #002240;
    color:white;
    padding:5px 10px;
    display:flex;
    justify-content: right;

}

.btn-primary {
    background-color: darkmagenta;
    color:white;
}

.btn:hover {
    transform: scale(0.98);
}




@media (max-width: 768px) {
    .todoList-form {
        position:absolute;
        top:70px;
        left:130px;
        width:500px;
        padding:40px;
        z-index:100;
        justify-content: center;
        text-align: center;
    }
}

@media (max-width: 500px) {
    .todoList-form {
        position:absolute;
        top:50px;
        left:100px;
        width:350px;
        padding:40px;
        z-index:100;
        justify-content: center;
        text-align: center;
    }
}
    























